* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "body-font";
}

@import "./components/header";
@import "./components/main.scss";
@import "./components/footer.scss";
@font-face {
    font-family: "body-font";
    src: url(../fonts/ZawyaPro-WideLight.otf)
}

body{
    background: linear-gradient(rgb(24, 24, 24),  rgb(51, 51, 51));
}