.footer{
    height: 300px;
    background-color: rgb(24, 24, 24);
}

.footercontainer{
    margin: auto;
    height: 300px;
    background-color: rgb(24, 24, 24);
    h3{
        color: rgb(225, 225, 225);
    }
    h5{
        color: #dad8d8;
    }
}

.contactofooter{
    padding-left: 20px;
    padding-top: 20px;
}

.derechos{
    margin: auto;
    color: rgb(218, 218, 218);
    text-align: center;
}