
.sobremi-container{
    height: 460px;
    width: 470px;
    margin: auto;
    margin-top: 10px;
    border-radius: 20px;
    text-align: center;
    display: block;
    justify-content: center;
    background-color: hsl(0, 0%, 100%);
}

.mifoto{
    height: 240px;
    width: 150px;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    img{
        height: 100%;
        width: 100%;
        border-radius: 200px;
    }
}

.textosobremi{
    width: 440px;
    margin: auto;
    p{
        color: #000000;
        font-size: 14px;
    }
}

.sobremi{
    margin-top: 20px;
    display: flex;
    height: 450px;
    padding: 20px;
    background-color: rgb(255, 255, 255);
}

.sobremitxt{
    margin: auto;
    margin-top: 40px;
    width: 60%;
    p{
        font-size: 12px;
    }
}

.imgsobremi{
    margin-top: 70px;
    height: 300px;
    width: 40%;
    text-align: center;
    img{
        height: 320px;
    }
}

.miexperiencia{
    display: flex;
    height: auto;
    padding: 20px;
    background-color: rgb(255, 255, 255);
}

.expimg{
    margin-top: 70px;
    width: 50%;
    text-align: center;
    img{
        height: 250px;
    }
}

.exptxt{
    margin: auto;
    margin-top: 40px;
    width: 50%;
    p{
        font-size: 12px;
    }
}

.proyectos-container{
    background-color: rgb(255, 255, 255);
    margin-top: 50px;
    padding: 20px;
    margin: auto;
    p{
        font-size: 12px;
        width: 70%;
    }
}
.galeria{
    background-color: rgb(255, 255, 255);
    margin: auto;
    text-align: center;
    height: auto;
    background: linear-gradient(rgb(85, 85, 85),  rgb(24, 24, 24),rgb(84, 84, 84));
    padding: 10px;
    h3{
        color: rgb(216, 216, 216);
    }
}

.galeriaimg{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    img{
        width: auto;
        height: 250px;
        padding: 5px;
        background-size: cover;
        &:hover{
            transform: scale(1.1);
            transition:transform 0.8s ;
        }
    }
}